@import 'reset';

:root {
  --red: #ed1c24;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;

  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: denmarkbold;
}

em {
  font-weight: bold;
}

input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.react-mount {
  width: 100vw;
  height: 100%;
}

.main-paragraf {
  font-family: denmarkbold;
  font-size: 1em;
  line-height: 1.5em;
  width: 50%;
  text-align: center;
}

.mytour-guide {
  width: 80%;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
}

.main-button {
  width: 18.5rem;
  height: 4rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'brandon_grotesquebold';
  align-self: center;
}

.login-name {
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.red-button {
  background-color: var(--red);
  color: white;
  display: flex;
}

.white-button {
  background-color: white;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

/* NOTIFICATIONS */

.notifications {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}

.notifications-bel {
  display: block;
  box-shadow: 0 0 1rem #888;
  background-image: url(../assets/images/notifications.svg);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.notifications-amount {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--red);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  font-size: .6em;
  color: white;

  position: relative;
  left: 3.5rem;
  top: 1.5rem;
}

.round-button {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

/* HEADER */

header {
  position: fixed;
  height: 100vh;
  width: 15vw;
  background: var(--red);
  display: flex;
  flex-direction: column;
  margin-right: 10vw;

  & ::before {
    content: '';
    background-color: var(--red);
    width: 22vw;
    height: 110vh;
    position: fixed;
    top: -2rem;
    left: -2rem;
    transform: rotate(-2deg);
    z-index: -1;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
  }
}

.header-home {
  width: 20vw;

  & ::before {
    width: 30vw;
  }
}

.logo {
  width: 10rem;
  height: 6.8rem;
  margin-left: 2.5rem;
  background-image: url(../assets/images/MSKGENT_LOGO_01.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.desktop-nav {
  margin-top: -5rem;
}

.nav-home {
  margin-left: 3vw;
  margin-top: -15rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin: 1rem;
}

.nav-link {
  color: white;
  font-family: 'brandon_grotesquebold';
  text-decoration: none;
  margin: 2rem;
}

.sticker {
  width: 12rem;
  height: 12rem;
  background-image: url(../assets/images/sticker.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;

  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);

  margin-left: 15vw;

}

.sticker-home {
  width: 18rem;
  height: 18rem;
  margin-left: 20vw;
}

/* SOCIAL */

.social {
  color: var(--red);
  display: flex;
  margin: 3rem 0;
}

.like {
  opacity: .5;
  cursor: pointer;
  height: 2.5rem;
  width: 5.5rem;
  background-image: url(../assets/images/heart.svg);
  background-repeat: no-repeat;
}

.share {
  cursor: pointer;
  height: 2.5rem;
  width: 7rem;
  background-image: url(../assets/images/share.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 2rem;
}

.share-text {
  border-bottom: .3rem solid var(--red);
  font-family: 'brandon_grotesquebold';
  font-size: 1.7rem;
}

/* FACT-PAGE */

.fact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  margin-left: 10vw;
}

.fact {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.fact-container {
  width: 45vw;
}

.fact-text {
  font-family: denmarkbold;
  color: red;
  font-size: 2.2rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.fact-image {
  max-width: 12rem;
  max-height: 17rem;
  margin-left: 31vw;
  margin-top: -7rem;
  margin-bottom: -8rem;
}

.functional-container {
  display: flex;
  justify-content: center;
  margin: 4rem;
  width: 100%;

  &::before {
    content: '';
    background-image: url(../assets/images/msk01.jpg);
    background-color: var(--red);
    background-blend-mode: soft-light;
    width: 100vw;
    height: 28rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
}

.functional-item {
  width: 25rem;
}

.functional-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.functional-text {
  color: white;
  font-size: 1.4rem;
}

.visit {
  border-left: .3rem solid black;
  padding-left: 5rem;
  /*margin-left: 5rem;*/
}

/* FAVORITES-PAGE */

.top-banner {
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background: url(../assets/images/msk04.jpg), var(--red);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 22rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
  }
}

.banner-text {
  font-family: denmarkbold;
  color: white;
  font-size: 1.8rem;
  line-height: 3rem;
  width: 40vw;
  text-align: center;
}

.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-container {
  margin-top: 5rem;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
}

.favorite-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  break-after: avoid;
  break-before: avoid;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
  padding: 2rem;
  width: 22rem;
}

.favorite-image {
  max-width: 15rem;
  margin-bottom: 1.5rem;
  max-height: 15rem;
  align-self: center;
}

.favorite-title {
  color: var(--red);
  padding-top: .6rem;
  padding-left: 1rem;
}

.favorite-text {
  font-family: 'denmark_regularregular';
  font-size: .8em;
  margin-top: 1rem;
  margin-bottom: -2rem;
}

/* TOERS */

.tour-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rondleiding-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.friend-container {
  width: 25rem;
  height: 6rem;
  box-shadow: 0 0 1rem #888;
  margin: 1rem;
  background-color: white;

  display: flex;
  align-items: center;
}

.friend-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin: 1rem;
}

.friend-name {
  font-family: 'brandon_grotesquebold';
  font-size: 1em;
  width: 7rem;
}

.tour-done {
  width: 30vw;
  margin-left: 10rem;
}

/* POPUP SCREEN */

.popup-container {
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-popup-screen {
  box-shadow: 0 0 1rem var(--red);
  background-image: url(../assets/images/close-icon.svg);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-right: -70%;
  margin-bottom: -2.5rem;
  background-color: var(--red);
}

.popup-screen {
  background-color: white;
  background-image: url(../assets/images/illustraties/illu06.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -10% 110%;
  width: 70%;
  height: 70%;
  box-shadow: 0 0 5rem #888;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.friends-amount-container {
  display: flex;
  font-family: 'brandon_grotesquebold';
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.friends-change-amount {
  box-shadow: 0 0 .5rem var(--red);
  background-color: var(--red);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
}

/* BREAKPOINTS */

@media only screen and (max-width: 1014px) {

  body {
    flex-direction: column;
  }

  header {
    height: 10rem;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -2.5rem;

    & ::before {
      width: 110vw;
      height: 14rem;
      position: absolute;
      transform: rotate(-1deg);
    }
  }

  .logo {
    order: 3;
  }

  .desktop-nav {
    order: 2;
    margin-top: 3rem;
  }

  .nav-home {
    margin-left: 0;
    margin-top: 0;
  }

  .nav-list {
    flex-direction: row;
  }

  .sticker {
    order: 1;

    width: 11rem;
    height: 11rem;

    margin-left: 8rem;
    margin-top: 8rem;

  }

  .login-name {
    top: 1rem;
    left: 4rem;
  }

  .fact-container {
    width: 60vw;
    margin-top: 20rem;
  }

  .fact-image {
    max-width: 12rem;
    max-height: 17rem;
    margin-left: 50vw;
    margin-top: -10rem;
    margin-bottom: -8rem;
  }

  .functional-container {
    display: none;
    height: 0;
  }

  .fact-page {
    height: 100%;
  }

  .favorites-container {
    width: 90vw;
    justify-content: center;
    margin-top: 12rem;
  }

  .top-banner {
    height: 22rem;
    margin-top: 12rem;

    &::before {
      height: 22rem;
      top: 10rem;
    }
  }

  .mytour-guide {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 50vw;
  }

  .popup-screen {
    background-size: 80%;
  }

  .popup-friends-container {
    height: 20rem;
    overflow-y: scroll;
  }

}

@media only screen and (min-width: 720px) {

  .mobile-nav {
    display: none;
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 720px) {

  .header-tour {
    margin-top: -5rem;
  }

  header {
    height: 5rem;

    & ::before {
      height: 12rem;
    }
  }

  .sticker {
    margin-top: 5rem;
  }

  .notifications {
    bottom: 10rem;
  }

  .fact-container {
    margin-top: 12rem;
  }

  .fact-image {
    max-width: 26rem;
    max-height: 28rem;
    margin-left: 30vw;
    margin-top: -20rem;
    opacity: .2;
  }

  .fact-text {
    padding-top: 3rem;
    font-size: 2rem;
  }

  .desktop-nav {
    display: none;
    width: 0;
    height: 0;
  }

  .mobile-nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
  }

  .mobile-nav-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav-link {
    width: 33.3vw;
    height: 6.5rem;
    box-shadow: 0 0 1rem #888;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #888;
    text-decoration: none;
  }

  .scan-button {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    box-shadow: 0 0 1rem #888;
    background-color: white;
    position: relative;
    top: 2rem;
    background-image: url(../assets/images/scan.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .favorite-button {
    background-image: url(../assets/images/heart.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  .home-button {
    background-image: url(../assets/images/home.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  .tour-button {
    background-image: url(../assets/images/rondleiding.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  .favorites-container {
    margin-top: 7rem;
  }

  /*.top-banner {
    height: 22rem;
    margin-top: 5rem;

    &::before {
      height: 22rem;
      top: 10rem;
    }
  }*/

  /*.favorites-container {
    width: 90vw;
    justify-content: center;
    margin-top: 12rem;
  }*/

  .top-banner {
    /*height: 22rem;*/
    margin-top: 0rem;

    &::before {
      /*height: 22rem;*/
      top: 5rem;
    }
  }

  .banner-text {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-top: 12rem;
    margin-left: 5rem;
    width: 80vw;
  }

  .tour-done {
    display: none;
    width: 0;
    height: 0;
  }

  .tour-page {
    margin-top: 5rem;
  }

  .popup-screen {
    background-size: 90%;
    background-position: -10% 105%;
  }

}

@media only screen and (max-width: 560px) {

  body {
    font-size: 1.3rem;
  }

  .logo {
    width: 5rem;
    height: 7rem;
    background-image: url(../assets/images/MSKGENT_LOGO_03.png);
  }

  .mobile-nav-link {
    height: 5rem;
  }

  .scan-button {
    top: 1rem;
    width: 5rem;
    height: 5rem;
  }

  .fact-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

}
