@import 'reset';

:root {
  --red: #ed1c24;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5em;
  height: 100vh;
  background-image: url(../assets/images/illustraties/illu06.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: -5% 105%;
  background-attachment: fixed;
}

.main-button {
  background-color: var(--red);
  width: 18.5rem;
  height: 4rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: 'brandon_grotesquebold';
}

.page {
  margin-top: 2.5rem;
}

h1 {
  font-family: denmarkbold;
}

.main-paragraf {
  font-family: denmarkbold;
  font-size: 1em;
  line-height: 1.5em;
  width: 50%;
  text-align: center;
}

/* NOTIFICATIONS */

.notifications {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}

.notifications-bel {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  box-shadow: 0 0 1rem #888;
  background-image: url(../assets/images/notifications.svg);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
}

.notifications-amount {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--red);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  font-size: .6em;
  color: white;

  position: relative;
  left: 3.5rem;
  top: 1.5rem;
}

/* HEADER */

header {
  height: 18rem;

  background: url(../assets/images/illustraties/illu05.png), var(--red);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: 101% 0%;
}

.logo {
  width: 10rem;
  height: 4.3rem;
  margin: 2.5rem;
}

/* SOCIAL */

.social {
  color: var(--red);
  display: flex;
  margin: 3rem 0;
}

.like {
  height: 3rem;
  width: 5.5rem;
  background-image: url(../assets/images/heart.svg);
  background-repeat: no-repeat;
}

.share {
  height: 3rem;
  width: 8rem;
  background-image: url(../assets/images/share.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 2rem;
}

.share-text {
  border-bottom: .3rem solid var(--red);
  font-family: 'brandon_grotesquebold';
  font-size: 1.7rem;
}

/* FACT-PAGE */

.fact-page {
  display: flex;
  justify-content: center;
}

.fact-container {
  display: flex;
  flex-direction: column;
}

.fact-title {
  font-size: 3.5em;
  position: absolute;
  top: 12rem;
  color: white;
}

.fact-text {
  width: 37.5rem;
  font-family: denmarkbold;
  font-size: 1.2em;
  line-height: 1.8em;
}

.visit-container {
  margin-right: -15rem;
  margin-left: 7.5rem;
  padding-left: 7.5rem;
  border-left: solid .3rem black;
}

.visit-text {
  width: 22rem;
  font-size: .8em;
  margin-top: .5rem;
}

/* FAVORITES-PAGE */

.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  position: absolute;
  left: 3rem;
  top: 21rem;
}

.back-button {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  box-shadow: 0 0 1rem #888;
  background-image: url(../assets/images/back-arrow.svg);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
}

.favorites-container {
  margin-top: 5rem;
  width: 60%;
  column-width: 15rem;
  column-gap: 5rem;
}

.favorite-container {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  break-inside: avoid;
}

.favorite-image {
  max-width: 15rem;
  margin-bottom: .5rem;
  max-height: 15rem;
  align-self: center;
}

.favorite-title {
  background-color: var(--red);
  padding-top: .6rem;
  padding-left: 1rem;
  color: white;
}

.favorite-text {
  font-family: 'denmark_regularregular';
  font-size: .8em;
  margin-top: 1rem;
  margin-bottom: -2rem;
}

/* TOUR PROCESS */

.tour-container {
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-screen {
  background-color: white;
  background-image: url(../assets/images/illustraties/illu06.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -10% 110%;
  width: 70%;
  height: 70%;
  box-shadow: 0 0 5rem #888;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* BREAKPOINTS */
