@import 'reset';

body {
  font-family: Roboto;
  font-size: 1.6rem;
}

header {
  background-color: #ed1c24;
  height: 18rem;
}

.logo {
  width: 10rem;
  height: 4.3rem;
  margin: 2.5rem;
}

h1 {
  font-size: 3rem;
}

.fact-title {
  font-family: denmarkbold;
}

.fact-text {
  width: 37.5rem;
  font-family: 'denmark_regularregular';
}
